.navigation {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    background-color: rgb(34, 34, 34);
  
    .logo-container {
      height: 100%;
      width: 20%;
      padding: 5px;
      margin-left: 10px;
    }
  
    .nav-links-container {
      width: 25%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .nav-link {
        padding: 10px 15px;
        cursor: pointer;
      }
    }
    .nav-contact-container{
      width: 5%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .nav-contact{
        padding: 10px 10px;
        cursor: pointer;
      }
    }
    .nav-sign-container{
      width: 10%;
      height: 100%;
      display: flex;
      align-items: center;
      .nav-sign{
        padding: 10px 10px;
        cursor: pointer;
      }
    }
    .search-box{
      display: flex;
      height: 25px;
      background-color: #ffff;
      border-radius: 20px;
      width: 20%;      
         .search-text{
          color: #000;
         }
    }
  }
  